<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/c06adfe374.js"
	></script>
<link rel="stylesheet" th:href="@{/css/adminStyles.css}" />
<title>Kierowca | Wynagrodzenie</title>
<link rel="icon" th:href="@{/images/icon.jpg}">

</head>

<body>

	<div class="bg">
		<ul class="topnav">
			<li><form th:action="@{/logout}" method="post"><input  class="navr"
				type="submit"  value="Wyloguj się"/></form></li>
				<li class="navr" style="margin-top: 2.4px;font-size:14px">Jesteś zalogowany jako: Kierowca</li>
				<li class="navr" style="float: left;font-size:26px;padding:0px 0px;margin-top:18px;margin-left:15px;">Mobile-trans</li>
		</ul>
		<div id="bloklewa">
			<img th:src="@{/images/profilelogo.png}"
				style="height: 170px;
      display: block;margin-left: auto;margin-right: auto;margin-top: 30px;"></img>
			<ul class="listawyboru">
				<li>
					<div class="container1">
						<a th:href="@{/kierowca}" class="navrr"
							type="submit"> <i class="fas fa-address-card"
							style="font-size: 26px; margin-right: 15%"></i> <span
							style="display: inline-block; vertical-align: 3px; text-align: center;">Dane osobowe</span>
						</a>
					</div> 
				</li>
				<li>
					<div class="container1">
						<a  th:href="@{/kierowca/wynagrodzenie}" class="navrr"> <i
							class="fas fa-money-check-alt"
							style="font-size: 24px; margin-right: 14%"></i> <span
							style="display: inline-block; vertical-align: 3px; text-align: center;">Wynagrodzenie</span></a>
					</div>
				</li>
				<li>
					<div class="container1">
						<a th:href="@{/kierowca/trasy}" class="navrr"> <i
							class="fas fa-truck-moving"
							style="font-size: 26px; margin-right: 24%; margin-left: 3px"></i>
							<span
							style="display: inline-block; vertical-align: 3px; text-align: center;">Trasy</span></a>
					</div>
				</li>
			</ul>
		</div>

		<div id="tabelePracownicy" class="tabele" style="display: block">

			<div align="center">


				<!--  Entry to new page -->
				<br> <br> <br> <br>

				<!-- Table -->
				<br>
				<table>


					<!-- Table header -->
					<thead>
						<tr>
							<th>Imię</th>
							<th>Nazwisko</th>
							<th>Kwota podstawowa [zł]</th>
							<th>Kwota dodatkowa [zł]</th>
							<th>Kwota łączna [zł]</th>
						</tr>
					</thead>

					<!-- Table body -->
					<tbody>
						<tr th:each="wynagrodzenie : ${listWynagrodzenia}">
							<td th:text="${wynagrodzenie.imie}">Imie</td>
							<td th:text="${wynagrodzenie.nazwisko}">Nazwisko</td>
							<td th:text="${wynagrodzenie.kwotaPodstawowa}">Kwota podstawowa</td>
							<td th:text="${wynagrodzenie.kwotaDodatkowa}">Kwota dodatkowa</td>
							<td
								th:text="${wynagrodzenie.kwotaPodstawowa + wynagrodzenie.kwotaDodatkowa}">Kwota
								łączna</td>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>

</html>
